# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual Environment
env/
venv/
*.env

# IDEs and Editors
.vscode/
.idea/

# SQLite Database
*.sqlite3
*.db

# Media files
media/

# System files
.DS_Store

# Pipenv
Pipfile
Pipfile.lock

# Session files
.session

# Static files
static/
